body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.header {
  display: flex;
  align-items: center;
  background-color: #496294;
  color: white;
  max-width: 100%;
  padding: 10px;
  &__title {
    margin: 0;
    padding: 0;
    flex: 1;
  }
}

.chat {
  background-color: #eee;
  padding: 20px;
  &__entry {
    color: #000;
    display: flex;
    align-items: center;
  }
  &__time {
    color: #777;
    margin-bottom: 5px;
    font-size: .7em;
  }
  &__person {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__message {
    flex: 1;
    background-color: white;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.2);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    &_me {
      background-color: #EFFDDE;
    }
  }
}

.inputbox {
  width: 50%;
  display: block;
  margin: auto;
  &__input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
  }
}
